*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(to right, rgba(77, 77, 77, 0.472), rgb(255, 237, 203));  
}
.calculator{
  width:300px;
  border:4px solid rgb(190, 185, 188);
  background-color: rgb(221, 221, 221);
  border-radius:5px;
  box-shadow:10px 10px 10px rgb(182, 167, 167);
  padding:15px 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator h2{
  color:wheat;
}
.calculator input{
  background-color: white;
  width:100%;
  height:70px;
  border-radius:5px;
  padding-right: 6px;
  font-size: 40px;
  font-weight: 500;
  color:rgb(141, 136, 136);
  text-align: right;
  background:transparent;
  box-shadow:0px 3px 15px rgba(113, 115, 119, 0);
  margin:15px 0;
}
.calculator button{
  width:50px;
  height:50px;
  background: transparent;
  margin:7px;
  border-radius:50px;
  box-shadow:0px 3px 15px rgba(113, 115, 119, 0);
  color:gray;
  font-size: 20px;
  cursor: pointer;
}
.calculator button:hover{
  color:rgb(255, 0, 0);
  transform: scale(1.1);
}
#equal{
  background-color:rgb(255, 0, 0);
}
#equal:hover{
  color:rgb(22, 20, 20); 
  transform:scale(1.2);
}